<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>

        <div id="news" class="dropdown-menu" aria-labelledby="navbarDropdown">
           {% for i in news %}
           <a href="{{i.link}}">{{i.title}}</a><br><br>
           <img src="{{i.media_content}}" alt="">
           <p>{{i.description}}</p>
           {{i.rate}}

           <a href="{{url_for('rate', news_id = i.id)}}">Rate</a>
           <hr>
           {% endfor %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src=static/app.js"></script>
        <script type="text/javascript">

        </script>

    </body>

</html>
